In [36]:
import os
import sys
sys.path.append("../")
from supabase import create_client, Client
from dotenv import load_dotenv
import pandas as pd
import src.soporte_streamlit as sp
# Cargar variables de entorno
load_dotenv()

# Configuración de Supabase
url = os.getenv("project_url")
key = os.getenv("browser_safe_key")
supabase: Client = create_client(url, key)

In [40]:
dictio = supabase.table('artists_ranking').select('artist_name','number_of_appearances').eq('brand_id', 1).range(3,999999).execute().data
artists_names = []
artists_appearances = []
for diccionario in dictio:
    artists_names.append(diccionario["artist_name"])
    artists_appearances.append(diccionario["number_of_appearances"])

df = pd.DataFrame({
    "Artista": artists_names,
    "Cantidad de escuchas" : artists_appearances
})
df.index = df.index + 4

In [41]:
df

              Artista  Cantidad de escuchas
4             Rihanna                   279
5       Billie Eilish                   276
6        David Guetta                   276
7          Ed Sheeran                   275
8       Calvin Harris                   270
...               ...                   ...
108091        Huh Gak                     1
108092   Sin Ye Young                     1
108093         Blue.D                     1
108094    Joe Won Sun                     1
108095    PARK BO GUM                     1

[108092 rows x 2 columns]