In [2]:
# Importamos las librer√≠as que necesitamos

# Librer√≠as de extracci√≥n de datos
# -----------------------------------------------------------------------
from bs4 import BeautifulSoup
import requests
from tqdm import tqdm
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np
import datetime

# Importamos las librer√≠as que necesitamos

# Librer√≠as de extracci√≥n de datos
# -----------------------------------------------------------------------

# Importaciones:
# Beautifulsoup
from bs4 import BeautifulSoup

# Requests
import requests

import pandas as pd
import numpy as np

from time import sleep
import random
# Importar librer√≠as para automatizaci√≥n de navegadores web con Selenium
# -----------------------------------------------------------------------
from selenium import webdriver  # Selenium es una herramienta para automatizar la interacci√≥n con navegadores web.
from webdriver_manager.chrome import ChromeDriverManager  # ChromeDriverManager gestiona la instalaci√≥n del controlador de Chrome.
from selenium.webdriver.common.keys import Keys  # Keys es √∫til para simular eventos de teclado en Selenium.
from selenium.webdriver.support.ui import Select  # Select se utiliza para interactuar con elementos <select> en p√°ginas web.
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException # Excepciones comunes de selenium que nos podemos encontrar 

import sys
sys.path.append("../")
import src.soporte_spotify as api

In [5]:
sp = api.load_credentials()
sp.current_user()

{'country': 'ES',
 'display_name': 'MrApple',
 'email': 'ruiperezgonzalo4@gmail.com',
 'explicit_content': {'filter_enabled': False, 'filter_locked': False},
 'external_urls': {'spotify': 'https://open.spotify.com/user/gonzaloruiperez'},
 'followers': {'href': None, 'total': 0},
 'href': 'https://api.spotify.com/v1/users/gonzaloruiperez',
 'id': 'gonzaloruiperez',
 'images': [],
 'product': 'premium',
 'type': 'user',
 'uri': 'spotify:user:gonzaloruiperez'}

# Obtener datos de marcas
- Vamos a obtener los 1000 primeros usuarios de cada marca y extraeremos los g√©neros musicales que escuchan
    - Zara
    - Primark
    - Nike
    - Adidas
    - H&M
    - Pull & Bear
    - bershka
    - Stradivarius
    - Mango
    - Desigual
### Nota Importante
- Spotify no me deja acceder a los ids de usuarios que siguen a un usuario, pero investigando, en el html, ponen el id de usuario en la parte de "followers"
- No puedo ver por playlists los usuarios
- Pero puedo ver por marca el perfil de m√∫sica que se escucha
- accediendo aqui con selenium o beautiful soup
    - https://open.spotify.com/user/r6ivwuv0ebk346hhxo446pbfv/followers (perfil zara)
    - No necesito iniciar sesi√≥n
- En el HTML puedo extraer los ids de usuarios

# Zara
- https://open.spotify.com/user/r6ivwuv0ebk346hhxo446pbfv/followers
- r6ivwuv0ebk346hhxo446pbfv

In [5]:
zara = api.obtener_html_followers("r6ivwuv0ebk346hhxo446pbfv")
df_zara = api.extraer_ids_usuario(sp,"Zara",zara)
df_zara.to_csv("../datos/01 Spotify/01_followers_zara.csv")
df_zara.head()

Iniciando Extracci√≥n de Ids Usuario

 57%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñã    | 572/1000 [00:55<00:30, 13.92it/s]HTTP Error for GET to https://api.spotify.com/v1/users/de with Params: {} returned 404 due to Resource not found
 57%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñã    | 574/1000 [00:55<00:30, 13.90it/s]

No se ha podido obtener el usuario de

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1000/1000 [01:39<00:00, 10.10it/s]

,brand,username,user_id
0,Zara,! ...,31vbe3hoptpfuzrvfqxalxi5tepu
1,Zara,$Slab,31gevswudwftwxxcbfszt5o2u5ta
2,Zara,-M's- Caf√© & Bar,lpet16qfnsa9zn97li98q8c50
3,Zara,. BR STORE,22d35vgyrjr3ywbwpnolontry
4,Zara,.Sneha.,et1fo5kqg7ovda96k920cxrg1

# Primark
- https://open.spotify.com/user/1u0ewgq4b77l1ttu6j4oyaylw
- user: 1u0ewgq4b77l1ttu6j4oyaylw

In [17]:
primark = api.obtener_html_followers("1u0ewgq4b77l1ttu6j4oyaylw")
df_primark = api.extraer_ids_usuario(sp,"Primark",primark)
df_primark.to_csv("../datos/01 Spotify/02_followers_primark.csv")
df_primark.head()

Iniciando Extracci√≥n de Ids Usuario

  3%|‚ñé         | 34/1000 [00:02<00:58, 16.41it/s]HTTP Error for GET to https://api.spotify.com/v1/users/ikbenafke with Params: {} returned 404 due to Resource not found
  4%|‚ñç         | 38/1000 [00:02<01:00, 15.85it/s]

No se ha podido obtener el usuario ikbenafke

 34%|‚ñà‚ñà‚ñà‚ñç      | 342/1000 [00:34<00:49, 13.20it/s]HTTP Error for GET to https://api.spotify.com/v1/users/de with Params: {} returned 404 due to Resource not found
 35%|‚ñà‚ñà‚ñà‚ñç      | 346/1000 [00:34<00:45, 14.23it/s]

No se ha podido obtener el usuario de

 93%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñé| 930/1000 [01:32<00:04, 15.12it/s]HTTP Error for GET to https://api.spotify.com/v1/users/space_cow with Params: {} returned 404 due to Resource not found
 93%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñé| 934/1000 [01:32<00:04, 15.59it/s]

No se ha podido obtener el usuario space_cow

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1000/1000 [01:40<00:00,  9.94it/s]

     brand                   username                       user_id
0  Primark                          !  31t663tvni5jdvmgzvmsmczcdf6i
1  Primark                          !     j8dtlhfwmoflxuorlu25s1nqs
2  Primark  0omrjhlirnqfen3ikg6806ee6     0omrjhlirnqfen3ikg6806ee6
3  Primark                11124898037                   11124898037
4  Primark                 1113439568                    1113439568

# Nike
- https://open.spotify.com/user/nikerunclub 
- user: nikerunclub

In [7]:
nike = api.obtener_html_followers("nikerunclub")
df_nike = api.extraer_ids_usuario(sp,"Nike",nike)
df_nike.to_csv("../datos/01 Spotify/03_followers_nike.csv")
df_nike.head()

Iniciando Extracci√≥n de Ids Usuario

 35%|‚ñà‚ñà‚ñà‚ñç      | 348/1000 [00:32<00:49, 13.11it/s]HTTP Error for GET to https://api.spotify.com/v1/users/ca with Params: {} returned 404 due to Resource not found
 35%|‚ñà‚ñà‚ñà‚ñå      | 350/1000 [00:32<00:47, 13.79it/s]

No se ha podido obtener el usuario ca

 58%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñä    | 582/1000 [00:53<00:26, 15.49it/s]HTTP Error for GET to https://api.spotify.com/v1/users/de with Params: {} returned 404 due to Resource not found
 59%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñä    | 586/1000 [00:53<00:26, 15.78it/s]

No se ha podido obtener el usuario de

 75%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñå  | 754/1000 [01:12<00:19, 12.77it/s]HTTP Error for GET to https://api.spotify.com/v1/users/prime1956 with Params: {} returned 404 due to Resource not found
 76%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñå  | 758/1000 [01:12<00:17, 13.54it/s]

No se ha podido obtener el usuario prime1956

 86%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñå | 862/1000 [01:22<00:09, 14.21it/s]HTTP Error for GET to https://api.spotify.com/v1/users/pierre.cahill with Params: {} returned 404 due to Resource not found
 87%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñã | 866/1000 [01:23<00:08, 15.54it/s]

No se ha podido obtener el usuario pierre.cahill

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1000/1000 [01:37<00:00, 10.24it/s]

  brand     username       user_id
0  Nike   #niberg112  %23niberg112
1  Nike   104.3nowfm    104.3nowfm
2  Nike  11102221493   11102221493
3  Nike  11129094089   11129094089
4  Nike  11136291185   11136291185

# Adidas
- https://open.spotify.com/user/430wexvtgeypb6zdn45ge9c76 
- 430wexvtgeypb6zdn45ge9c76

In [8]:
adidas = api.obtener_html_followers("430wexvtgeypb6zdn45ge9c76")
df_adidas = api.extraer_ids_usuario(sp,"Adidas",adidas)
df_adidas.to_csv("../datos/01 Spotify/04_followers_adidas.csv")
df_adidas.head()

Iniciando Extracci√≥n de Ids Usuario

 10%|‚ñà         | 100/1000 [00:06<01:00, 14.78it/s]HTTP Error for GET to https://api.spotify.com/v1/users/de with Params: {} returned 404 due to Resource not found
 10%|‚ñà         | 104/1000 [00:07<00:55, 16.02it/s]

No se ha podido obtener el usuario de

 18%|‚ñà‚ñä        | 182/1000 [00:15<01:00, 13.50it/s]HTTP Error for GET to https://api.spotify.com/v1/users/ca with Params: {} returned 404 due to Resource not found
 18%|‚ñà‚ñä        | 184/1000 [00:16<00:57, 14.20it/s]

No se ha podido obtener el usuario ca

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1000/1000 [01:37<00:00, 10.28it/s]

    brand          username                       user_id
0  Adidas           - ZEN -                    michiko476
1  Adidas  -M's- Caf√© & Bar     lpet16qfnsa9zn97li98q8c50
2  Adidas               pia                           pia
3  Adidas                00  31sepz6hkia2k6apcy7zd3focgsq
4  Adidas       11100832652                   11100832652

# H&M
- https://open.spotify.com/user/hm
- hm

In [9]:
hm = api.obtener_html_followers("hm")
df_hm = api.extraer_ids_usuario(sp,"H&M",hm)
df_hm.to_csv("../datos/01 Spotify/05_followers_hm.csv")
df_hm.head()

Iniciando Extracci√≥n de Ids Usuario

 10%|‚ñà         | 100/1000 [00:06<00:57, 15.76it/s]HTTP Error for GET to https://api.spotify.com/v1/users/de with Params: {} returned 404 due to Resource not found
 10%|‚ñà         | 104/1000 [00:06<00:56, 15.99it/s]

No se ha podido obtener el usuario de

 30%|‚ñà‚ñà‚ñà       | 302/1000 [00:32<09:24,  1.24it/s]

No se ha podido obtener el usuario esseddik

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1000/1000 [01:43<00:00,  9.65it/s]

  brand          username                    user_id
0   H&M  -M's- Caf√© & Bar  lpet16qfnsa9zn97li98q8c50
1   H&M        ...alma...                 ...alma...
2   H&M              na.v                       na.v
3   H&M       11102209368                11102209368
4   H&M       11131773068                11131773068

# Pull & Bear
- https://open.spotify.com/user/pull_and_bear
- pull_and_bear

In [10]:
pullbear = api.obtener_html_followers("pull_and_bear")
df_pullbear = api.extraer_ids_usuario(sp,"Pull & Bear",pullbear)
df_pullbear.to_csv("../datos/01 Spotify/06_followers_pull_and_bear.csv")
df_pullbear.head()

Iniciando Extracci√≥n de Ids Usuario

 56%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñã    | 564/1000 [00:53<00:31, 13.70it/s]HTTP Error for GET to https://api.spotify.com/v1/users/ with Params: {} returned 404 due to Service not found
 57%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñã    | 567/1000 [00:53<00:29, 14.89it/s]

No se ha podido obtener el usuario

 94%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñç| 941/1000 [01:32<00:04, 14.58it/s]HTTP Error for GET to https://api.spotify.com/v1/users/uson100 with Params: {} returned 404 due to Resource not found
 94%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñç| 945/1000 [01:32<00:03, 15.46it/s]

No se ha podido obtener el usuario uson100

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1000/1000 [01:36<00:00, 10.32it/s]

         brand      username       user_id
0  Pull & Bear  085643640156  085643640156
1  Pull & Bear    1110107678    1110107678
2  Pull & Bear   11120385510   11120385510
3  Pull & Bear   11123777698   11123777698
4  Pull & Bear    1113725576    1113725576

# bershka
- https://open.spotify.com/user/bershka
- bershka

In [11]:
bershka = api.obtener_html_followers("bershka")
df_bershka = api.extraer_ids_usuario(sp,"bershka",bershka)
df_bershka.to_csv("../datos/01 Spotify/07_followers_bershka.csv")
df_bershka.head()

Iniciando Extracci√≥n de Ids Usuario

 45%|‚ñà‚ñà‚ñà‚ñà‚ñç     | 448/1000 [00:40<00:42, 12.93it/s]HTTP Error for GET to https://api.spotify.com/v1/users/paul_troncoso with Params: {} returned 404 due to Resource not found
 45%|‚ñà‚ñà‚ñà‚ñà‚ñå     | 452/1000 [00:41<00:38, 14.36it/s]

No se ha podido obtener el usuario paul_troncoso

 79%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñâ  | 788/1000 [01:16<00:25,  8.20it/s]HTTP Error for GET to https://api.spotify.com/v1/users/prevenier with Params: {} returned 404 due to Resource not found
 79%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñâ  | 792/1000 [01:16<00:18, 11.11it/s]

No se ha podido obtener el usuario prevenier

 97%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñã| 974/1000 [01:39<00:21,  1.20it/s]

No se ha podido obtener el usuario qxbds6uhl3badkx1aabqh1r2b

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1000/1000 [01:40<00:00,  9.91it/s]

     brand                 username                       user_id
0  bershka  #Le best pirate du 29ü´∞üèΩ  31isbbalyd67pojnb3cbsapmgnn4
1  bershka                1000DREAM     21mk74v7ql2vtczy2jii2ub3i
2  bershka              11122894351                   11122894351
3  bershka               1112631774                    1112631774
4  bershka              11132116328                   11132116328

# Stradivarius
- https://open.spotify.com/user/stradivas
- stradivas

In [12]:
stradivarius = api.obtener_html_followers("stradivas")
df_stradivarius = api.extraer_ids_usuario(sp,"Stradivarius",stradivarius)
df_stradivarius.to_csv("../datos/01 Spotify/08_followers_stradivarius.csv")
df_stradivarius.head()

Iniciando Extracci√≥n de Ids Usuario

 29%|‚ñà‚ñà‚ñâ       | 294/1000 [00:31<07:01,  1.68it/s]

No se ha podido obtener el usuario edcss

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1000/1000 [01:40<00:00,  9.97it/s]

,brand,username,user_id
0,Stradivarius,!,31bv4hwlp3xnaumn5laycpkglioy
1,Stradivarius,! ...,31b4vdnqnpcrbnf2fveg3fuaw42e
2,Stradivarius,! No More Lullabies,12100249023
3,Stradivarius,*erasmus*,%2Aerasmus%2A
4,Stradivarius,11122332522,11122332522

# Mango
- https://open.spotify.com/user/mango_official
- mango_official

In [13]:
mango = api.obtener_html_followers("mango_official")
df_mango = api.extraer_ids_usuario(sp,"Mango",mango)
df_mango.to_csv("../datos/01 Spotify/09_followers_mango.csv")
df_mango.head()

Iniciando Extracci√≥n de Ids Usuario

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1000/1000 [01:38<00:00, 10.16it/s]

   brand                          username                       user_id
0  Mango                                 !  31bv4hwlp3xnaumn5laycpkglioy
1  Mango  !              No More Lullabies                   12100249023
2  Mango                       031222angel                   031222angel
3  Mango                       11137603170                   11137603170
4  Mango                       11158891998                   11158891998

# Desigual
- https://open.spotify.com/user/1119086036
- 1119086036

In [14]:
desigual = api.obtener_html_followers("1119086036")
df_desigual = api.extraer_ids_usuario(sp,"Desigual",desigual)
df_desigual.to_csv("../datos/01 Spotify/10_followers_desigual.csv")
df_desigual.head()

Iniciando Extracci√≥n de Ids Usuario

 25%|‚ñà‚ñà‚ñç       | 248/1000 [00:23<01:01, 12.23it/s]HTTP Error for GET to https://api.spotify.com/v1/users/ with Params: {} returned 404 due to Service not found
 25%|‚ñà‚ñà‚ñå       | 251/1000 [00:23<00:55, 13.60it/s]

No se ha podido obtener el usuario

 88%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñä | 885/1000 [01:26<00:07, 15.22it/s]HTTP Error for GET to https://api.spotify.com/v1/users/ with Params: {} returned 404 due to Service not found
 89%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñä | 887/1000 [01:26<00:07, 16.14it/s]

No se ha podido obtener el usuario

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1000/1000 [01:37<00:00, 10.25it/s]

      brand          username                    user_id
0  Desigual  -M's- Caf√© & Bar  lpet16qfnsa9zn97li98q8c50
1  Desigual       11140026434                11140026434
2  Desigual        1128877460                 1128877460
3  Desigual        1133606734                 1133606734
4  Desigual        1149224198                 1149224198